# Ignore all .idea project settings
.idea/

# Ignore all __pycache__ directories recursively
**/__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore Python Crash Course project specific files
*.iml

# Ignore the materials folder
materials/