.idea/.gitignore
.idea/git_toolbox_blame.xml
.idea/git_toolbox_prj.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/PythonCrashCourse.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
